* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5f5;
}

header {
    padding: 70px;
    font-family: 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(87, 77, 179);
    color: #f5f5f5;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Helvetica', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline-block;   
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.img-container {
    display: flex;
    flex-direction: column;
}

.img-row1 {
    display: flex;
    align-items: center;
}

.img-row2 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 150px;
}

.img-row1 img {
    max-width: 650px;
    width: 100%;
    height: auto;
}

.img-row1 img:hover { 
    opacity: 0.4;
}

.img-row2 img {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.img-row2 img:hover { 
    opacity: 0.4;
}

a {
    color: #f5f5f5;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 600px;
    width: 50%;
    /* margin-bottom: 25px; */
    background-image: url("../images/IMG_0825.png");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 55px;
}

.content-img {
    width: 100%;
    display: flex;
    margin-left: 200px;
}

.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Helvetica', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #9b4e4e;
}

.benefit-all {
    margin-bottom: 32px;
    color: #f5f5f5;
}

.benefit-all h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-all img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.about-me-container{
    display: flex;
    align-items: stretch;
    margin-bottom: 25px;
     margin: 20px 20px;
}



.benefit-block {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Helvetica', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(87, 77, 179);
    color: #f5f5f5;
    
}

.benefit-block img {
    max-height: 200px;
}

.benefit-block h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    margin: 30px;
    clear: both;
    font-family: 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(87, 77, 179);
}

footer h2 {
    font-size: 40px;
}

.about-me-block{
       padding: 50px;
       font-family: 'Helvetica', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       background-color: rgb(87, 77, 179);
       color: #f5f5f5;
}

.about-me-block h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.big-block {
    background-image: none;
    height: 600px;
    padding: 50px;
}

.smaller-blocks {
    background-image: none;
    height: 200px;
    padding: 25px;
}

.my-work-block {
    margin-bottom: 20px;
    padding: 50px;
    height: 1200px;
    font-family: 'Helvetica', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(87, 77, 179);
    color: #f5f5f5;
}



@media only screen and (max-width: 600px) {
    body {
     flex-direction: column;
     border-color: orange;
     }

    }
